body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("images/noncopy1.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}